{% extends "shop/base_site.html" %}

{% block content %}

<div class="row">


    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>

            {% if categories %}
                {% for el in categories %}

            <li class="breadcrumb-item"><a href="#">{{ el.name }}</a></li>
                {% endfor %}
            {% endif %}
        </ol>
    </nav>

</div>

<div class="row">

          {% for product in category_products %}

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{ product.title }}</a>
                </h4>
                <h5>{{ product.price }} грн.</h5>
                    <a href="{% url 'add_to_cart' slug=product.slug %}">
                        <button class="btn btn-danger">Добавить в корзину</button>
              </div>
            </div>
          </div>

          {% endfor %}


</div>
    {% endblock content %}



    <div class="col-md-8">
        <h3>Category:</h3><br>
        {% if categories %}
            {% for el in categories %}
                <div class="alert alert-warning mt-2">
                    <h4> {{ el.name }} </h4>
                </div>
            {% endfor %}
        {% else %}
            <h5>There are no categories yet.</h5>

        {% endif %}

    {{ category_products }}

</div>


