
<table class="table">
  <tbody>
    <tr>
      <td>Группа продукта</td>
      <td>{{ product.product_group }}</td>
    </tr>
  <tr>
      <td>Состав продукта</td>
      <td>{{ product.composition }}</td>
    </tr>
  <tr>
      <td>Вязкость продукта</td>
      <td>{{ product.viscosity }}</td>
    </tr>
  <tr>
      <td>Классификация продукта</td>
      <td>{{ product.classification }}</td>
    </tr>
  <tr>
      <td>Одобрение производителей</td>
      <td>{{ product.manufacturer_approval }}</td>
    </tr>
  <tr>
      <td>Объем</td>
      <td>{{ product.volume }}</td>
    </tr>  
  </tbody>
</table>
