
<table class="table">
  <tbody>
    <tr>
      <td>Группа продукта</td>
      <td>{{ product.product_group }}</td>
    </tr>
  <tr>
      <td>Состав продукта</td>
      <td>{{ product.composition }}</td>
    </tr>
  <tr>
      <td>Вязкость продукта</td>
      <td>{{ product.viscosity }}</td>
    </tr>
  <tr>
      <td>Классификация продукта</td>
      <td>{{ product.classification }}</td>
    </tr>
  <tr>
      <td>Одобрение производителей</td>
      <td>{{ product.manufacturer_approval }}</td>
    </tr>
  <tr>
      <td>Под конкретную модель</td>
      <td>{{ product.under_a_specific_brand }}</td>
    </tr>
  <tr>
      <td>Марка автомобиля</td>
      <td>{{ product.brand }}</td>
    </tr>
  <tr>
      <td>Год выпуска</td>
      <td>{{ product.year_of_issue }}</td>
    </tr>
  </tbody>
</table>

